<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstswingtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".BombControlActivity"
            android:label="@string/bombControls_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.firstswingtest.MainActivity" />
        </activity>

        <activity
            android:name=".FightControlActivity"
            android:label="@string/fightControls_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.firstswingtest.MainActivity" />
        </activity>

        <activity
            android:name=".CrossyControlActivity"
            android:label="@string/crossyControls_name"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.firstswingtest.MainActivity" />
        </activity>


        <activity
            android:name=".InvadersControlActivity"
            android:label="@string/invadersControls_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.firstswingtest.MainActivity" />
        </activity>

        <activity
            android:name=".SwingControlActivity"
            android:label="@string/swingControls_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.firstswingtest.MainActivity" />
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>